@import '../../../assets/scss/utils';

.modal {
  border-radius: rem(8);
  padding: rem(10);
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  max-width: rem(400);
  box-shadow: 1px rem(2 20 999) #15151578;
}

.modal__header {
  display: flex;
  padding: rem(10) 0;

  .modal__close {
    width: rem(20);
    height: rem(20);
    line-height: rem(20);
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    margin-right: rem(10);

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .modal__title {
    font-weight: 600;
  }
}