@import '../../../assets/scss/utils';

.button {
  display: block;
  border: 0;
  background-color: transparent;
  border-radius: 9999px;
  padding: rem(15 30);
  max-width: rem(300);
  width: rem(150);
  font-size: rem(15);
  font-weight: 700;
  cursor: pointer;

  &[disabled] {
    opacity: 0.6;
  }
}

.__outlined {
  background-color: $white;
  border: 1px solid $main-color;
  color: $main-color;

  &:not([disabled]):hover {
    background-color: $main-color;
    color: $white;
  }
}

.__filled {
  border: 1px solid transparent;
  background-color: $main-color;
  color: $white;

  &:not([disabled]):hover {
    border: 1px solid $main-color;
    background-color: $white;
    color: $main-color;
  }
}

.__full {
  width: 100%;
  max-width: 100%;
}