@import '../../../assets/scss/utils';

.post {
  display: flex;
  text-decoration: none;
}

.photo {
  margin-right: rem(20);
}

.content {
  flex: 1;
  .user {
    display: flex;
    margin-bottom: rem(10);

    .user__name {
      font-weight: 600;
      color: #000;
      margin-right: rem(5);
    }

    .user__login {
      color: #cbc9c9;
      margin-right: rem(5);
    }

    .time {
      color: #cbc9c9;

      &:before {
        content: '*';
        margin-right: 5px;
      }
    }

    .dropdown {
      position: relative;
      margin-left: auto;
    }
  }

  .text {
    color: #353535;
    margin-bottom: rem(20);
  }

  .actions {
    display: flex;
    justify-content: space-between;

    .actions__button {
      display: flex;
      align-items: center;
      cursor: pointer;

      .actions__countComments {
        margin-left: rem(10);
      }

      .actions__svg {
        fill: $main-color;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}