@import '../../assets/scss/utils';


.notification {
  position: fixed;
  top: rem(30);
  right: rem(30);
  background-color: #000;
  color: #fff;
  padding: rem(20);
  border-radius: rem(4);

  .loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(10);
    width: 0;
    background-color: red;
    animation: loading 3s linear 1s backwards;
  }
}

@keyframes loading {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}