@import '../../../assets/scss/utils';

.item {
  display: flex;
  align-items: center;
  padding: rem(10);
  border-top: 1px solid #e0dada;
  border-bottom: 1px solid #e0dada;
}

.photo {
  margin-right: rem(20);
}

.content {
  margin-right: rem(20);

  div:first-child {
    font-weight: 700;
    margin-bottom: rem(3);
  }

  div:last-child {
    color: #cbc9c9;
  }
}

.personAdd {
  cursor: pointer;
  fill: $main-color;
}