@import '../../../assets/scss/utils';

.tweet {
  padding: rem(20);
}

.header {
  display: flex;
}

.photo {
  margin-right: rem(20);
}

.user {
  display: flex;
  flex-direction: column;

  .name {
    font-weight: 600;
    color: #000;
  }

  .login {
    color: #cbc9c9;
  }
}

.text {
  margin-top: rem(20);
  font-size: rem(21);
  line-height: 1.235;
}