@import '../../../assets/scss/utils';

.item {
  display: block;
  padding: rem(10);
  border-top: 1px solid #e0dada;
  border-bottom: 1px solid #e0dada;
  text-decoration: none;

  .text {
    color: #000;
    font-weight: 700;
    margin-bottom: rem(6);
  }

  .count {
    color: #cbc9c9;
  }
}