@import '../../assets/scss/utils';

.preloader {
  width: 100%;
  height: rem(100);
  position: relative;

  .gif {
    width: rem(100);
    height: rem(100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}